::-webkit-scrollbar{ display: none; }
html,body,#view{ width: 100%; height: 100%; margin: 0px; padding: 0px; overflow: hidden; font-size: 8px; }
[v-cloak]{ display: none; }
.item-box{ position: absolute; top:50%; left: 50%; display: flex; width: 100%; }
.gz{ position: absolute; top:50%; left: 50%; transform: translate(-50%,1.2rem); }
.item{ position: absolute; left: 0px; flex:1; text-align: right; height: 1rem; transform-origin: left center; width: 100%; }
.list{ line-height: 1rem; transform-origin: left center; }
.active{ background-color: rgba(255,120, 0, 0.3) }
.year-item{ position: fixed; transform: translate(-50%, -0%); }
.month-item{ position: fixed; width: 5rem; }
.day-item{ position: fixed; width: 10rem; }
.hour-item{ position: fixed; width: 15rem; }
.minute-item{ position: fixed; width: 20rem; }
.second-item{ position: fixed; width: 25rem; }
.tgdz-item{ position: fixed; width: 30rem; }

.year-item>*{ transform: translate(0%, -50%); }